<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html"><img src="assets/Logo.png" width="80%" height="120%"
          style="padding-top: 10px;"></a>
      <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
          class="fasfa-bars"></i></button>
  
      <!--navabar search-->
      <form class="d-none md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="search for..." aria-label="Search"
            area-describedby="basic-addon2" />
          <div class="input-group-append">
            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
  
      <!--navbar-->
      <ul class="navbar-nav ml-auto ml-md-0">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/id.jpg" style="border-radius: 50%; width: 50px;">
              </a>
  
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Activity Log</a>
  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" routerLink="/login" routerLinkActive="active">Logout</a>
              </div>
          </li>
      </ul></nav>
  <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
          <nav class="sb-sidenav according sb-sidenav-dark" id="sidenavAccordian">
              <div class="sb-sidenav-menu">
                  <div class="nav">
                      <div class="sb-sidenav-menu-heading">Core</div>
                      <a class="nav-link" href="index.html">
                          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>Dashboard</div>
                      </a>
                      <div class="sb-sinenav-menu-heading">Interface</div>
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="collapseLayouts" aria-expanded="false" aria-controls="caollapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-angle-down"></i></div>
                        Home
                      </a>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  
  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area mr-1"></i>
          Weekly Analysis
        </div>
        <div class="card-body">
          <img src="assets/areachart.png" width="100%" height="200">
        </div>
      </div>
    </div>
  
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area mr-1"></i>
          Monthly Report
        </div>
        <div class="card-body">
          <img src="assets/barchart.png" width="100%" height="200">
        </div>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Employed Data
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-boardered" id="datatable" width="100%" collspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Melburn</td>
                <td>26</td>
                <td>2021/01/05</td>
                <td>$200,000</td>
              </tr>
              <tr>
                <td>Maria Sadin</td>
                <td>System Engineer</td>
                <td>Mumbai</td>
                <td>28</td>
                <td>2021/03/05</td>
                <td>$250,000</td>
              </tr>
              <tr>
                <td>Anil Nixon</td>
                <td>System Analysis/td>
                <td>Tokiyo</td>
                <td>30</td>
                <td>2021/03/05</td>
                <td>$300,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy: Simplilearn 2021
  
        </div>
        <a href="#">Privacy Policy</a>&middot;
        <a href="#">Terms &amp; Conditions</a>
      </div>
    </div>
  </footer>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>
  
  </body>
  